body {
    background-image: url(../image/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#searchscreen {
    width: 400px;
    height: 260px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}

form p>* {
    display: inline-block;
    vertical-align: middle;
}

.userinput {
    font-size: 14px;
    font-family: 宋体;
    margin_top:10px;
    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: black;
    background-color: #39abea;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.btn {
    margin-top: 10px;
    font-size: 14px;
    font-family: 宋体;

    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    color: black;
    background-color: #39abea;
    border-radius: 6px;
}

.btn:hover {
    border: 1px solid blue;
}
#btn_search{
    margin-left: 40px;
    margin-top: 30px;
}
#btn_return{
    margin-left: 20px;
    margin-top: 30px;
}
.high {
    color: red;
    font-size:20px;
}

.msg {
    font-size: 13px;
}

.onError {
    color: red;
}

.onSuccess {
    color: green;
}
h3{
    margin-top:50px;
}