body {
    background-image:url(../image/1.jpg);
    background-size:100%;
    background-repeat:no-repeat;
}

#updateperson {
    background-color:rgba(240, 255, 255, 0.5);
    width:400px;
    height:320px;
    padding:13px;
    position:absolute;
    left:50%;
    right:50%;
    top: 10%;
    margin-left:-200px;
    margin-top:200px;
    border-radius:10px;
    text-align:center;

}
.text_field{
    border-style:none none solid none;
    height:30px;
    width:200px;
    background:none;
}

.btn{
	background-color: #8efc55;
}
.btn:hover{
	background-color: #38B1A8;
}
h3{
    color:red;
    margin:0px;
    padding:0px;
}
   .high {
    color: red;
    font-size:20px;
}

.msg {
    font-size: 13px;
}

.onError {
    color: red;
}

.onSuccess {
    color: green;
}